.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  color: white;
  width: 100%;
  padding: 10px 20px;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.3s ease;
  text-decoration: inherit;
}

.logo span {
  font-size: 1.2rem;
  color: #fff;
}

.logo:hover {
  color: #e7e7e7;
}

.links {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #00bfffe0;
}

.userIcon {
  display: flex;
  justify-content: center;  
  align-items: center; 
  width: 25px;  
  height: 25px;  
  border-radius: 50%;
  background-color: transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.userIcon:focus {
  box-shadow: 0 0 3px 2px #ffffff;
}

.barIcon {
  width: 100%;
  height: 100%;
  color: white;
  transition: color 0.3s ease;
}

.userIcon .Icon:hover {
  color: #00bfffe0; 
}

.profileMenu {
  position: absolute;
  top: 55px;
  right: -1000px; 
  background-color: #343434;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 1px 5px 20px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 200px;
  z-index: 1000;
  transition: right 0.3s ease; 
  opacity: 0;
  pointer-events: none; 
}

.profileMenu.menuVisible {
  right: 0; 
  opacity: 1;
  pointer-events: auto; 
}

.profileLink {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.profileLink:hover {
  color: #00bfffe0;
}

.logoutButton {
  width: 100%;
  padding: 8px 10px;
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #282828;
}

.logoutButton:active {
  outline: none;
  width: 98%;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
  }

  .logo {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .links {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .link {
    font-size: 1rem;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .logo {
    font-size: 1.2rem;
  }

  .links {
    font-size: 0.8rem;
    gap: 8px;
  }

  .userIcon {
    width: 25px;
    height: 25px;
  }

  .img {
    width: 20px;
    height: 20px;
  }
}
