* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

.Container {
    width: 400px;
    background-color: #323232;
    border-radius: 6px; 
    padding: 40px;
    margin-top: 50px;
    box-shadow: 1px 5px 20px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: right;
}

.Container h1{
    font-size: 3rem; 
    color: #fff; 
    text-shadow: -5px 4.5px 5px rgba(0, 0, 0, 0.5);
    margin: 0; 
    text-align: left; 
}

.Container h1:hover {
    cursor: default;
}
  
.inputField {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 30px auto;
}
.inputField input {
    width: 100%;
    height: 100%;
    background-color: white;
    outline: none;
    border: 1px solid #323232;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: -5px 5px 2px 2px rgba(0, 0, 0, 0.3);
    color: black;
    padding: 20px 15px;
    transition: color 0.3s ease
}

.inputField input:hover {
    background-color: rgb(223, 223, 223);
    cursor:text;
}

.inputField input:not(:placeholder-shown) {
    background-color: #dadada;
}

.inputField .Icon {
    position: absolute;
    right: 25px;
    top: 100%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #242424;
}

.text {
    display: flex;
    align-items: center;
}
  
.whiteText {
    color: white; 
}
  
.redAsterisk {
    color: red;
    margin-left: 5px; 
}

.recallForget {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-size: 11.5px;
}

.recallForget label {
    color: white;
}

.recallForget input {
    margin-right: 5px;
}

.recallForget label:hover, input:hover {
    cursor: pointer;
}

.recallForget a .signupLink p a{
    color: white;
    text-decoration: none;
}

.recallForget a:hover, .signupLink p a:hover {
    text-decoration: underline;
}

.Container button {
    width: 150px;
    height: 40px;
    background-color: #242424;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    box-shadow: -5px 5px 2px 2px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    color: white;
    margin-top: 10px;
    text-align: center;
    outline: none;
}

.Container button:hover{
    background-color: #303030;
}

.Container button:active {
    width: 145px;
    height: 37px;
}

.signupLink {
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    margin-top: 30px;
    color: #ffffff;
}

.Container a{
    color: #00bfff;
}

.Container a:hover{
    color: #00bfffbb;
}

.formError {
    position: absolute;
    bottom: -50px; 
    left: 0;
    background-color: #ff4d4f;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px; 
    padding: 5px 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    z-index: 1; 
    white-space: nowrap;
    opacity: 80%;
}