.container {
  display: flex;
  background-color: #ffffff;
  color: #333;
  padding: 2rem;
  min-height: 90vh;
  width: 100vw;
  margin-top: 55px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  width: 100%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

.profilePictureContainer {
  position: relative;
}

.profilePicture {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #f0f0f0;
  cursor: pointer;
}

.changePictureOption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #d1d1d12c;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  display: none;
  cursor: pointer;
}

.cameraIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px; 
  color: white;
  cursor: pointer;
  z-index: 1; 
}

.profilePictureContainer:hover .changePictureOption {
  display: block;
}

.userInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.userInfo h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.userInfo p {
  font-size: 1rem;
  color: #777;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  width: 100%;
}
.arrowIcon {
  font-size: 15px;
  rotate: 270deg; 
  transition: transform 0.3s ease;
}

.arrowIcon.open {
  transform: rotate(90deg); 
}

.sectionToggle {
  text-decoration: underline;
  display: flex;
  cursor: pointer;
  font-size: 1.5rem;
  align-items: center;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.sectionToggle:hover {
  color: #333;
}

.statsSection {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.statsSection ul {
  list-style-type: none;
  padding: 0;
}

.statsSection li {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.statsSection li svg {
  color: #007bff;
}

.statsSection li strong {
  color: #333;
}

.listsSection {
  margin-top: 1.5rem;
}

.listsSection ul {
  list-style-type: none;
  padding: 0;
}

.listItem {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.searchAndFilter {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.searchInput {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.filterSelect {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.listsSection p {
  color: #555;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
}
